.progressBar {
    color: #ffffff;

    & .label {
        float: left;
    }

    & .status {
        text-align: end;
        color: #7e7979;
    }
    
    & .container {
        border: 1px solid #433404;
        border-radius: 5px;
        height: 6px;
        position: relative;
        & .progress {
            background: #dbb41b;
            height: 100%;
            position: absolute;
            // width: 100%;
            text-align: end;
        }
    }
}