.main {
  flex: 1;
  margin-left: 10px;

  & .profile-background {
    background: url('../../../public/background-image.avif') no-repeat center center;
    height: 250px;
    margin-bottom: 10px;
    position: relative;
    & .cover {
      background-color: #0000004a;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
}