.main {
  flex: 1;
  height: calc(100vh - 20px);
  overflow: auto;

  & .profile-background {
    background: url('../../../public/background-image.avif') no-repeat center center;
    height: 250px;
    margin-bottom: 20px;
    position: relative;
    
    & .cover {
      background-color: #0000004a;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  & .skill-main {
    margin-top: 20px;

    h2 {
      color: #ffffff;
    }

    & .skill-list {
      margin-top: 10px;

      & .skillBadge {
        margin: 0 5px 5px 0;
        flex-grow: 1;
      }
    }
  }

  & .experience-main, .skill-main {
    margin-top: 20px;

    h2 {
      color: #ffffff;
    }

    & .experience-list {
      margin-top: 10px;

      & .experience {
        margin: 0 10px 10px 0;
      }
    }
  }

  & .contact-main {
    margin-top: 20px;

    h2 {
      color: #ffffff;
    }
    
    & .contact-info {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      & .card {
        background-color: #4f4b4b40;
        // display: flex;
        // flex-direction: column;
        // align-content: space-between;
        margin: 0 10px 10px 0;
        flex: 1;
        padding: 20px;
        width: 300px;

        & div {
          margin-top: 5px;
          & p {
            color: #ffffff;
          }

          & img {
            margin-right: 5px;
          }

          & span {
            color: #7e7979;
          }
        }
        
        .left {
          width: 60%;
        }
      }
    }
  }
}