.cardService {
    background-color: #00000038;
    height: 250px;
    padding: 10px;
    overflow: auto;
    width: 300px;

    & .card-head {
        margin-bottom: 10px;
    }

    & .card-content {
        color: #ffffff;
        overflow: auto;
    }
}