.sideNav {
  background-color: #00000082;
  height: calc(100vh - 20px);
  margin-right: 20px;
  aside {
    height: 100%;
    width: 300px;
  }
  .card {
    display: flex;
    flex-direction: column;
    // padding: 20px 0px;
    width: 100%;
    & .card-head {
      background-color: #8774741c;
      color: #FFF;
      padding: 20px;
      & .head-content a {
        text-decoration: none;
        color: inherit;
      }
      & .profile-image {
        border-radius: 50%;
        height: 150px;
        margin-bottom: 10px;
        width: 150px;
      }
      & .h-line {
        padding: 0 20px;
        margin-top: 10px;
      }
      & .h-line::after {
        content: '';
        display: block;
        width: 100%;
        justify-content: center;
        border: 1px none yellow;
        text-align: center;
        align-self: center;
      }
    }

    & .card-body {
      flex: 1;
      padding: 20px;
      overflow: auto;
      & .progress-list {
        & .progressBar {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1026px) {
  .sideNav {
      display: none;
  }
}